.btnNext {
    background-color: #e91e63 !important;
    border-color: #e91e63 !important;
    width: 200px;
 }

.btnPrev {
   width: 200px;
}

.customInput {
  height: 50px !important;
  font-size: 20px !important;
  background-color: #f6f6f6 !important;
}

.customSelect {
  height: 50px !important;
}